$NikeFont: 'Oswald', sans-serif;
$top-border-light: #E5E5E5;
$link-color-grey: #8D8D8D;

// .navTest {
//     height: 100px;
//     width: 100%;
//     background: white;
//     z-index: 5;
//     display: flex;
//     flex-direction: column;
//     -webkit-font-smoothing: antialiased;
// }

// .navTest > button a{
//     cursor: pointer;
// }

.topNav {
    display: flex;
    flex-direction: row;
    // width: 100vw;
    height: 39px;
    justify-content: space-between;
    align-items: center;
    border: $top-border-light .5px solid;
    margin: 0;
    color:$link-color-grey;
    font-family: $NikeFont;
    button {
        height: 39px;
        background: white;
        border: none;
        border-right: .5px solid lightgray;
        cursor: pointer;
    }
    #nikePlus {
        
        > button {
        
        width: 111px;
        background: none;
        // color:$link-color-grey;
        align-items: center;
        text-align: center;
        // font-weight: 600;
        letter-spacing: 0.07em;
        font-size: 13px;
        opacity: 0.5;
            &:hover {
                opacity: 1;
            }
        }
        
    }

    #jordan {
        > button {
        text-align: center;
        width: 79px;
        background: none;
        color:$link-color-grey;
        align-items: center;
        line-height: 39px;
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
    }
    }

    #converse > button {
        width: 130px;
        background: none;
        text-align: center;
        color:$link-color-grey;
        align-items: center;

        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
    }

    #hurley > button {
        width: 106px;
        background: none;
        text-align: center;
        color:$link-color-grey;
        align-items: center;
        img {
            position: relative;
            top: -2px;
        }
    
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
    }

    .rightList {
        display: flex;
        list-style: none;
        flex-direction: row;
        border: none;
        height: 100%;
        align-items: center;
        font-size: 14px;
        margin-left: 10px;
        li {
            margin-right: 10px;
            &:hover{
                color: rgb(70, 70, 70);
            }
            a{
                color:$link-color-grey;
                text-decoration: none;
                cursor: pointer;
                &:hover{
                    color: rgb(70, 70, 70);

                    }

            }
        }
    }


}

#jumpmanImg {
    max-height: 21px;
    max-width: 21px;
}


#hurleyImg {
    max-height: 48px;
    max-width: 48px;
}

#converseImg {
    max-height: 72px;
    max-width: 72px;
}

#topNavButton {
    height: 39px;
 
}

.swooshDiv {
    height: 100%;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: flex-start;
    #nikeSwoosh {
        max-width: 70px;
        max-height: 50px;
        height: 58px;
        width: 70px;
        min-width: 35px;
        min-height: 25px;
        margin: 5px;
        margin-left: 25px;
    }
}



.middleNav {
    display: flex;
    flex-direction: row;
    height: 68px;
    justify-content: space-between;
    align-items: center;
    border: $top-border-light .5px solid;
    padding: 1px;
    font-family: $NikeFont;
    .swooshDiv {
        height: 100%;
        align-items: center;
        align-content: center;
        display: flex;
        justify-content: flex-start;
        #nikeSwoosh {
            max-width: 70px;
            max-height: 50px;
            height: 58px;
            width: 70px;
            min-width: 35px;
            min-height: 25px;
            margin: 5px;
            margin-left: 25px;
        }
    }
}

.buttonCluster {
    display: flex;
    align-items: center;
    margin-left: 120px;

    .dropdown {
        display: flex;
        height: 66px;
        width: 87.5px;
        justify-content: center;
        align-items: center;

        .nav-button{
            width: 100%;
            height: 102%;
            display: flex;
            justify-content: center;
            align-content: center;
            .nav-link {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: inherit;
                &:hover {
                    border-bottom: black 2px solid;
                }
                &:focus {
                    border-bottom: black 2px solid;
                }
            }
        
        .dropdown-content-container {
            display: none;
            width: 100%;
            align-content: center;
            flex-direction: row;
            position: absolute;
            background: white;
            z-index: 9999;
            top: 107px;
            left: 0;
            padding: 0 20px;
            font-size: 16px;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            padding: 44px 0;
            margin: 0 auto;
            // &:hover {
            //     visibility: visible;
            // }
 

 

            .drop-down-content-sub-container {
                display: flex;
                margin: 0 auto;
                text-align: left;
                // visibility: hidden;

            
                .column-list {
                    display: table-cell;
                    vertical-align: top;
                    padding-right: 52px;
                    font-size: 16px;
                    
                    .column-list-item {
                        text-align: -webkit-match-parent;
                        padding-top: 6px;
                        padding-bottom: 6px;
                        a {
                            text-decoration: none;
                            font-weight: 500;
                            outline: 0;
                            color: #222;
                            font-weight: 600;
                        }   
                    }
                }
            .dropdown-content-column-left-line {
                border-left: 1px solid #E5E5E5;
                padding-left: 32px;
                padding-right: 64px;
                .column-list-item {
                    text-decoration: none;
                    color: #222;
                    font-weight: 600;
                    a {
                        text-decoration: none;
                        outline: 0;
                        color: #222;
                    }
                }
                
                
            }

            .column-list-link {
                margin: 3.5px 0;
                line-height: normal;
                white-space: normal;

                a {
                    text-decoration: none;
                    outline: 0;
                    color: #222;
                }
            }

            .dropdown-content-column-no-line {
                display: table-cell;
                vertical-align: top;
                padding-right: 52px;
                font-size: 16px;
                margin: 0;
                padding-right: 52px;

                .column-list-item {
                    text-decoration: none;
                    color: #222;
                    font-weight: 600;
                }
            }

            .dropdown-content-column-left-line-end {
                border-left: 1px solid #E5E5E5;
                padding-left: 32px;
                padding-right: 64px;

                .column-list-item {
                    text-decoration: none;
                    color: #222;
                    font-weight: 600;
                }
            }

        }
    }
}
    }

    .nav-button:hover  .dropdown-content-container{
        display: flex;
    }
}


.homeImages {
    max-width: 100vw;
    max-height: 100vh;
    margin-top: 3px;
    margin-bottom: 3px;
}

/* Dropdown Button */
.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    margin-left: 20px;
    font-family: $NikeFont;
}

/* The container <div> - needed to position the dropdown content */
// .dropdown {
//     position: relative;
//     display: inline-block;
//     z-index: 1000;
// }

// /* Dropdown Content (Hidden by Default) */
// .dropdown-content-column{
//     position: absolute;
//     background-color: #FFF;
//     top: 100%;
//     left: 0;
//     width: 100%;
//     visibility: hidden;
//     z-index: 1;

// }

// /* Links inside the dropdown */
// .dropdown-content-column a {
//     color: black;
//     padding: 12px 16px;
//     text-decoration: none;
//     display: flex;
// }

// /* Change color of dropdown links on hover */
// .dropdown-content-columnt a:hover {
//     color: rgb(92, 92, 92);

// }

// /* Show the dropdown menu on hover */
// .dropdown:hover .dropdown-content-column {
//     display: flex;
//     flex-direction: column;
//     visibility: visible;
//     width: 100vw;
//     // top: 0;
//     // left: 0;
// }

// /* Change the background color of the dropdown button when the dropdown content is shown */
// .dropdown:hover .dropbtn {
//     background-color: white;
// }

.searchInput {
    width: 224px;
    height: 68px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    #navSearchBar {
        height: 40px;
        width: 194px;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #navSearchBar:focus {
        height: 40px;
        width: 224px;
        transition: .4s;
    }
}